.mainNavbar{
    height: 10vh;
    background-color: aquamarine;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.mainNavbar h1{
    color: blue;
    font-size: 2.5rem;
}

.mainNavbar div{
    display: flex;
    gap: 10px;
}

.mainNavbar a{
    text-decoration: none;
    font-size: 1.5rem;
}