.modal{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .box{
    background-color: green;
    display: flex;
    flex-direction: column;
    width: 600px;
}

.modal .top{
    background-color: antiquewhite;
    padding: 20px 10px;
    text-align: center;
}

.modal .content{
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    padding-top: 30px;
}

.modal .content input{
    width: 300px;
    height: 40px;
    background-color: transparent;
    padding: 10px;
}

.modal .content .error{
    width: 300px;
    height: 40px;
    background-color: red;
    color: white;
    text-align: center;
}


.modal .bottom{
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.modal .bottom button{
    padding: 10px 20px;
    font-size: 1rem;
}

.modal .page{
    height: 90vh;
    width: 90vw;
    background-color: purple;
    display: flex;
    flex-direction: column;
}

.page-nav{
    background-color: yellowgreen;
}

.page-content{
    background-color: red;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}