.modal{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .wizard{
    background-color: green;
    display: flex;
    flex-direction: column;
    width: 900px;
    height: 80vh;
    position: relative;
}

.modal .wizard-top{
    background-color: antiquewhite;
    padding: 20px 10px;
    text-align: center;
}

.modal .wizard-content{
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    padding-top: 30px;
    gap: 0;
    flex-grow: 1;
}

.modal .wizard-bottom{
    display: flex;
    justify-content: space-between;
}

.wizard-premium input{
    height: 30px;
}